{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenID Federation Entity Registry API",
    "description": "REST API for managing OpenID Federation entities, policies, modules, and trust marks. This API provides endpoints for creating, reading, updating, and deleting federation entities, policies, trust anchors, resolvers, trust marks, and trust mark subjects.",
    "contact": {
      "name": "Sweden Connect",
      "url": "https://www.swedenconnect.se",
      "email": "support@swedenconnect.se"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.5.10-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://registry.local.swedenconnect.se",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": [],
      "selectedOrgNumber": []
    }
  ],
  "tags": [
    {
      "name": "Pending registrations",
      "description": "Operator view of incoming registration requests"
    },
    {
      "name": "Registration Flow",
      "description": "Configured pipeline steps for entity registration"
    },
    {
      "name": "Join",
      "description": "Apply to and manage federation membership"
    },
    {
      "name": "Modules",
      "description": "CRUD for federation modules"
    },
    {
      "name": "Subordinates",
      "description": "CRUD for subordinates"
    },
    {
      "name": "Entities",
      "description": "CRUD for federation, hosted and subordinate entities"
    },
    {
      "name": "Trustmarks",
      "description": "CRUD for trustmarks and trust mark subjects"
    }
  ],
  "paths": {
    "/userinfo": {
      "get": {
        "tags": [
          "user-info-controller"
        ],
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "user-info-controller"
        ],
        "operationId": "selectOrganization",
        "parameters": [
          {
            "name": "orgNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/trustmarks/{trustMarkId}": {
      "get": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Get trust mark",
        "operationId": "getTrustmark",
        "parameters": [
          {
            "name": "trustMarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Trustmark"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Update trust mark",
        "operationId": "updateTrustmark",
        "parameters": [
          {
            "name": "trustMarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trustmark"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Trustmark"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Create trust mark with specified ID",
        "operationId": "createTrustmarkWithId",
        "parameters": [
          {
            "name": "trustMarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trustmark"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Trustmark"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Delete trust mark",
        "operationId": "deleteTrustmark",
        "parameters": [
          {
            "name": "trustMarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/trustmarks/subjects/{subjectId}": {
      "get": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Get trust mark subject",
        "operationId": "getTrustmarkSubject",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkSubject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Update trust mark subject",
        "operationId": "updateTrustmarkSubject",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkSubject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Create trust mark subject with specified ID",
        "operationId": "createTrustmarkSubjectWithId",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkSubject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Delete trust mark subject",
        "operationId": "deleteTrustmarkSubject",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/subordinates/{subordinateId}": {
      "get": {
        "tags": [
          "Subordinates"
        ],
        "summary": "Get subordinate by id",
        "operationId": "getSubordinate",
        "parameters": [
          {
            "name": "subordinateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subordinate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subordinates"
        ],
        "summary": "Update subordinate",
        "operationId": "updateSubordinate",
        "parameters": [
          {
            "name": "subordinateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subordinate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subordinate"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subordinates"
        ],
        "summary": "Create subordinate with specified ID",
        "operationId": "createSubordinateWithId",
        "parameters": [
          {
            "name": "subordinateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subordinate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subordinate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subordinates"
        ],
        "summary": "Delete subordinate",
        "operationId": "deleteSubordinate",
        "parameters": [
          {
            "name": "subordinateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/modules/trustmark-issuer/{trustmarkIssuerId}": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "Get trust mark issuer",
        "operationId": "getTrustmarkIssuer",
        "parameters": [
          {
            "name": "trustmarkIssuerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkIssuer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Modules"
        ],
        "summary": "Update trust mark issuer",
        "operationId": "updateTrustmarkIssuer",
        "parameters": [
          {
            "name": "trustmarkIssuerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkIssuer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkIssuer"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create trust mark issuer with specified ID",
        "operationId": "createTrustmarkIssuerWithId",
        "parameters": [
          {
            "name": "trustmarkIssuerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkIssuer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkIssuer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Modules"
        ],
        "summary": "Delete trust mark issuer",
        "operationId": "deleteTrustmarkIssuer",
        "parameters": [
          {
            "name": "trustmarkIssuerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/modules/trust-anchor/{trustAnchorId}": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "Get trust anchor",
        "operationId": "getTrustAnchor",
        "parameters": [
          {
            "name": "trustAnchorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustAnchor"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Modules"
        ],
        "summary": "Update trust anchor",
        "operationId": "updateTrustAnchor",
        "parameters": [
          {
            "name": "trustAnchorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustAnchor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustAnchor"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create trust anchor with specified ID",
        "operationId": "createTrustAnchorWithId",
        "parameters": [
          {
            "name": "trustAnchorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustAnchor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustAnchor"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Modules"
        ],
        "summary": "Delete trust anchor",
        "operationId": "deleteTrustAnchor",
        "parameters": [
          {
            "name": "trustAnchorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/modules/resolver/{resolverId}": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "Get resolver",
        "operationId": "getResolver",
        "parameters": [
          {
            "name": "resolverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resolver"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Modules"
        ],
        "summary": "Update resolver",
        "operationId": "updateResolver",
        "parameters": [
          {
            "name": "resolverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resolver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resolver"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create resolver with specified ID",
        "operationId": "createResolverWithId",
        "parameters": [
          {
            "name": "resolverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resolver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resolver"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Modules"
        ],
        "summary": "Delete resolver",
        "operationId": "deleteResolver",
        "parameters": [
          {
            "name": "resolverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/modules/intermediate/{intermediateId}": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "Get intermediate",
        "operationId": "getIntermediate",
        "parameters": [
          {
            "name": "intermediateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Intermediate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Modules"
        ],
        "summary": "Update intermediate",
        "operationId": "updateIntermediate",
        "parameters": [
          {
            "name": "intermediateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Intermediate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Intermediate"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create intermediate with specified ID",
        "operationId": "createIntermediateWithId",
        "parameters": [
          {
            "name": "intermediateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Intermediate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Intermediate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Modules"
        ],
        "summary": "Delete intermediate",
        "operationId": "deleteIntermediate",
        "parameters": [
          {
            "name": "intermediateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/entities/hosted/{entityId}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "Get hosted entity",
        "operationId": "getHostedEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HostedEntity"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities"
        ],
        "summary": "Update hosted entity",
        "operationId": "updateHostedEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostedEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HostedEntity"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create hosted entity with specified ID",
        "operationId": "createHostedEntityWithId",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostedEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HostedEntity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities"
        ],
        "summary": "Delete hosted entity",
        "operationId": "deleteHostedEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registry/v1/entities/federation/{entityId}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "Get federation entity",
        "operationId": "getFederationEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includemodules",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FederationEntityWithModules"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities"
        ],
        "summary": "Update federation entity",
        "operationId": "updateFederationEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FederationEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FederationEntity"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create federation entity with specified ID",
        "operationId": "createFederationEntityWithId",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FederationEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FederationEntity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities"
        ],
        "summary": "Delete federation entity",
        "operationId": "deleteFederationEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registration-flow/v1/intermediate/{taImId}/flows": {
      "get": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "List flows assigned to an intermediate",
        "operationId": "getFlowsForIntermediate",
        "parameters": [
          {
            "name": "taImId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegistrationFlowDto"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Set (replace) the flows assigned to an intermediate",
        "operationId": "setFlowsForIntermediate",
        "parameters": [
          {
            "name": "taImId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registration-flow/v1/flow/{flowid}": {
      "put": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Update a registration flow",
        "operationId": "updateFlow",
        "parameters": [
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "arg1",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RegistrationFlowDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationFlowDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Create a new flow with a specified id",
        "operationId": "createFlowWithId",
        "parameters": [
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "arg1",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RegistrationFlowDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationFlowDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Update a registration flow",
        "operationId": "deleteFlow",
        "parameters": [
          {
            "name": "flowid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationFlowDto"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/trustmarks": {
      "get": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "List all trustmarks",
        "description": "Lists all trustmarks for the organization, optionally including trustmark subjects",
        "operationId": "listTrustmarks",
        "parameters": [
          {
            "name": "includeSubjects",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrustmarkWithSubjects"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Create trust mark with auto-generated ID",
        "operationId": "createTrustmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trustmark"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Trustmark"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/trustmarks/subjects": {
      "post": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Create trust mark subject with auto-generated ID",
        "operationId": "createTrustmarkSubject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkSubject"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/subordinates/": {
      "post": {
        "tags": [
          "Subordinates"
        ],
        "summary": "Create subordinate with auto-generated ID",
        "operationId": "createSubordinate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subordinate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subordinate"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules/trustmark-issuer": {
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create trust mark issuer with auto-generated ID",
        "operationId": "createTrustmarkIssuer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustmarkIssuer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkIssuer"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules/trust-anchor": {
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create trust anchor with auto-generated ID",
        "operationId": "createTrustAnchor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustAnchor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustAnchor"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules/resolver": {
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create resolver with auto-generated ID",
        "operationId": "createResolver",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resolver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resolver"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules/intermediate": {
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Create intermediate with auto-generated ID",
        "operationId": "createIntermediate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Intermediate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Intermediate"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/entityconfiguration/ping": {
      "post": {
        "tags": [
          "entity-configuration-controller"
        ],
        "operationId": "pingEntityConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EntityConfigurationPingDto"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/entityconfiguration/jwks": {
      "post": {
        "tags": [
          "entity-configuration-controller"
        ],
        "operationId": "loadJwksFromEntityConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/entities/hosted": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "List hosted entity",
        "operationId": "listHostedEntity",
        "parameters": [
          {
            "name": "entityIdentifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HostedEntity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create hosted entity with auto-generated ID",
        "operationId": "createHostedEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostedEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HostedEntity"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/entities/federation": {
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create federation entity with auto-generated ID",
        "operationId": "createFederationEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FederationEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FederationEntity"
                }
              }
            }
          }
        }
      }
    },
    "/registration/{joinId}": {
      "post": {
        "tags": [
          "Join"
        ],
        "summary": "Create a join application with specified ID",
        "operationId": "createJoinWithId",
        "parameters": [
          {
            "name": "joinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Join"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Join"
        ],
        "summary": "Remove a join record",
        "operationId": "deleteJoin",
        "parameters": [
          {
            "name": "joinId",
            "in": "path",
            "description": "ID of the join record to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/registration/admin/{id}/reject": {
      "post": {
        "tags": [
          "Pending registrations"
        ],
        "summary": "Reject a pending registration request",
        "operationId": "reject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Registration ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            }
          }
        }
      }
    },
    "/registration/": {
      "post": {
        "tags": [
          "Join"
        ],
        "summary": "Create a join application with auto-generated ID",
        "operationId": "createJoin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Join"
                }
              }
            }
          }
        }
      }
    },
    "/registration-flow/v1/flow": {
      "post": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Create a new flow",
        "operationId": "createFlow",
        "parameters": [
          {
            "name": "arg0",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RegistrationFlowDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationFlowDto"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/trustmarks/{trustMarkId}/subjects": {
      "get": {
        "tags": [
          "Trustmarks"
        ],
        "summary": "Get trust mark with there subjects",
        "operationId": "getTrustmarkSubjects",
        "parameters": [
          {
            "name": "trustMarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrustmarkWithSubjects"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "List all modules",
        "description": "Lists all modules for the organization, optionally filtered by type",
        "operationId": "listModules",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Modules"
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/modules/trustmark-issuer/{trustmarkIssuerId}/trustmarks": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "Get trust mark issuer",
        "operationId": "getTrustmarks",
        "parameters": [
          {
            "name": "trustmarkIssuerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrustmarkWithSubjects"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registry/v1/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "List all entities",
        "description": "Lists all entities for the organization, optionally filtered by type and with modules included",
        "operationId": "listEntities",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includemodules",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EntityWithModules"
                }
              }
            }
          }
        }
      }
    },
    "/registration": {
      "get": {
        "tags": [
          "Join"
        ],
        "summary": "List all join records",
        "operationId": "listJoins",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Join"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registration/flows": {
      "get": {
        "tags": [
          "Join"
        ],
        "summary": "List all available registration flows",
        "operationId": "listFlows",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Flow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registration/admin": {
      "get": {
        "tags": [
          "Pending registrations"
        ],
        "summary": "List pending registrations for an intermediate",
        "operationId": "listPending",
        "parameters": [
          {
            "name": "arg0",
            "in": "query",
            "description": "Filter by intermediate ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Registration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registration/admin/count": {
      "get": {
        "tags": [
          "Pending registrations"
        ],
        "summary": "Count unhandled PENDING registrations for an intermediate (badge)",
        "operationId": "countPending",
        "parameters": [
          {
            "name": "arg0",
            "in": "query",
            "description": "Intermediate ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registration-flow/v1/steps": {
      "get": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "List all configured pipeline steps with their settings",
        "operationId": "getSteps",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StepDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authenticate": {
      "get": {
        "tags": [
          "authentication-redirect-controller"
        ],
        "operationId": "getRedirect",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectView"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federationservice/submodules": {
      "get": {
        "tags": [
          "oidf-service-api-controller"
        ],
        "operationId": "submoduleRecord",
        "parameters": [
          {
            "name": "instanceid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "plain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/federationservice/entity_record": {
      "get": {
        "tags": [
          "oidf-service-api-controller"
        ],
        "operationId": "entityRecord",
        "parameters": [
          {
            "name": "instanceid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "plain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "index-controller"
        ],
        "operationId": "baseIndexTemplate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registration-flow/v1/intermediate/{taImId}/flows/{flowId}": {
      "delete": {
        "tags": [
          "Registration Flow"
        ],
        "summary": "Remove a specific flow from an intermediate",
        "operationId": "removeFlowFromIntermediate",
        "parameters": [
          {
            "name": "taImId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Trustmark": {
        "type": "object",
        "properties": {
          "trustmarkId": {
            "type": "string",
            "format": "uuid",
            "description": "Trustmark ID",
            "readOnly": true
          },
          "trustmarkissuerId": {
            "type": "string",
            "format": "uuid",
            "description": "Trust mark issuer entity identifier"
          },
          "trustmarkType": {
            "type": "string",
            "description": "Trustmark type that is a entityid"
          },
          "logoUri": {
            "type": "string",
            "description": "Logo URI"
          },
          "refUri": {
            "type": "string",
            "description": "Reference URI"
          },
          "delegation": {
            "type": "string",
            "description": "Delegation JWT"
          }
        }
      },
      "TrustmarkSubject": {
        "type": "object",
        "properties": {
          "trustmarksubjectId": {
            "type": "string",
            "format": "uuid",
            "description": "Trustmark subject ID",
            "readOnly": true
          },
          "trustmarkId": {
            "type": "string",
            "format": "uuid",
            "description": "Trustmarkid that this subject belongs to"
          },
          "subject": {
            "type": "string",
            "description": "Subject entity id"
          },
          "revoked": {
            "type": "boolean",
            "description": "If the trust mark is revoked for this subject"
          },
          "granted": {
            "type": "string",
            "format": "date-time",
            "description": "Granted time in ISO-8601-format with offset, ex. 2025-03-12T14:37:00Z",
            "example": "2025-03-12T14:37:00Z"
          },
          "expires": {
            "type": "string",
            "format": "date-time",
            "description": "Expires time in ISO-8601-format with offset, ex. 2025-03-12T14:37:00Z",
            "example": "2025-03-12T14:37:00Z"
          }
        }
      },
      "Subordinate": {
        "type": "object",
        "properties": {
          "subordinateId": {
            "type": "string",
            "format": "uuid",
            "description": "Subordinate ID",
            "readOnly": true
          },
          "taImId": {
            "type": "string",
            "format": "uuid",
            "description": "TaIm ID that this subordinate belongs to"
          },
          "jwks": {
            "type": "string",
            "description": "JWKSet for Subordinate",
            "example": "JSON Web Key Set as string"
          },
          "entityIdentifier": {
            "type": "string",
            "description": "Subject (entity identifier)",
            "example": "https://subordinate.example.se"
          },
          "crit": {
            "type": "array",
            "description": "List of crit claims",
            "example": [
              "claim1",
              "claim2"
            ],
            "items": {
              "type": "string"
            }
          },
          "metadataPolicyCrit": {
            "type": "array",
            "description": "List of metadata_policy_crit",
            "example": [
              "operator1",
              "operator2"
            ],
            "items": {
              "type": "string"
            }
          },
          "ecLocation": {
            "type": "string",
            "description": "ecLocation - location where the actual entity statement is placed. Expressed as a url. Ex https://my.company.se/entitystatement"
          },
          "ecLocationAutomaticResolve": {
            "type": "boolean",
            "description": "When true, eclocation will be loaded from the hosted entity with the same issuer entityid"
          },
          "effectiveEcLocation": {
            "type": "string",
            "description": "Effective EcLocation that is calculated serverside",
            "readOnly": true
          },
          "metadataPolicy": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadata policy for this subordinate statement. Optional. Must be valid JSON if provided.",
            "example": {
              "openid_provider": {
                "subject_types_supported": {
                  "value": [
                    "pairwise"
                  ]
                }
              }
            }
          }
        }
      },
      "TrustmarkIssuer": {
        "type": "object",
        "properties": {
          "trustmarkIssuerId": {
            "type": "string",
            "format": "uuid",
            "description": "Trustmark issuer ID",
            "readOnly": true
          },
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity identifier that this trustmark issuer belongs to"
          },
          "active": {
            "type": "boolean",
            "description": "If this trustmark issuer is active"
          },
          "trustMarkTokenValidityDuration": {
            "type": "string",
            "description": "Trust mark token validity duration (ISO-8601 duration, e.g. PT1H)"
          }
        },
        "required": [
          "active",
          "entityId",
          "trustMarkTokenValidityDuration"
        ]
      },
      "TrustAnchor": {
        "type": "object",
        "properties": {
          "trustAnchorId": {
            "type": "string",
            "format": "uuid",
            "description": "TaIm ID",
            "readOnly": true
          },
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity identifier that this trust anchor belongs to. "
          },
          "active": {
            "type": "boolean",
            "description": "If this trust anchor is active"
          },
          "trustMarkIssuers": {
            "type": "array",
            "description": "Entity identifiers for trust mark issuers",
            "items": {
              "type": "string"
            }
          },
          "subordinates": {
            "type": "array",
            "description": "List of subordinates for this trust anchor",
            "items": {
              "$ref": "#/components/schemas/Subordinate"
            }
          }
        }
      },
      "Resolver": {
        "type": "object",
        "properties": {
          "resolverId": {
            "type": "string",
            "format": "uuid",
            "description": "Resolver ID",
            "readOnly": true
          },
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity identifier that this module belongs to"
          },
          "active": {
            "type": "boolean",
            "description": "If this resolver instance is active"
          },
          "resolveResponseDuration": {
            "type": "string",
            "description": "Response duration (ISO-8601 duration, e.g. PT1H)"
          },
          "trustAnchor": {
            "type": "string",
            "description": "Trust anchor entityId that this resolver is connected to"
          },
          "trustedKeys": {
            "type": "string",
            "description": "Trusted keys as JWKS JSON of the trust anchor"
          },
          "stepRetryDuration": {
            "type": "string",
            "description": "Step retry duration (ISO-8601 duration, e.g. PT1H)"
          },
          "stepCachedValueThreshold": {
            "type": "integer",
            "format": "int32",
            "description": "Step Cached Value Threshold"
          }
        }
      },
      "Intermediate": {
        "type": "object",
        "properties": {
          "intermediateId": {
            "type": "string",
            "format": "uuid",
            "description": "TaIm ID",
            "readOnly": true
          },
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity identifier that this trust anchor belongs to. "
          },
          "active": {
            "type": "boolean",
            "description": "If this intermediate is active"
          },
          "subordinates": {
            "type": "array",
            "description": "List of subordinates for this intermediate",
            "items": {
              "$ref": "#/components/schemas/Subordinate"
            }
          }
        }
      },
      "HostedEntity": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity ID",
            "readOnly": true
          },
          "entityIdentifier": {
            "type": "string",
            "description": "EntityIdentifier"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "FederationMetadata"
          },
          "effectiveEcLocation": {
            "type": "string",
            "description": "Effective EcLocation that is calculated serverside",
            "readOnly": true
          },
          "trustMarkSources": {
            "type": "array",
            "description": "Trustmark sources that can be used to include trustmarks.",
            "items": {
              "$ref": "#/components/schemas/TrustmarkSource"
            }
          },
          "crit": {
            "type": "array",
            "description": "crit ",
            "example": "The crit (critical) Claim indicates that extensions to the set of Claims specified for use in this type of JWT",
            "items": {
              "type": "string"
            }
          },
          "authorityhints": {
            "type": "array",
            "description": "authorityhints",
            "example": "An array of strings representing the Entity Identifiers of Intermediate Entities or Trust Anchors that are Immediate Superiors of the Entity. the set of Claims specified for use in this type of JWT",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TrustmarkSource": {
        "type": "object",
        "properties": {
          "trustMarkIssuer": {
            "type": "string",
            "description": "Trustmark "
          },
          "trustmarkId": {
            "type": "string",
            "description": "Id of the trustmark to be included (entity identifier)"
          }
        }
      },
      "FederationEntity": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "format": "uuid",
            "description": "Entity ID",
            "readOnly": true
          },
          "entityIdentifier": {
            "type": "string",
            "description": "EntityIdentifier",
            "example": "https://ta.example.se/ta"
          },
          "crit": {
            "type": "array",
            "description": "crit ",
            "example": "The crit (critical) Claim indicates that extensions to the set of Claims specified for use in this type of JWT",
            "items": {
              "type": "string"
            }
          },
          "authorityhints": {
            "type": "array",
            "description": "authorityhints",
            "example": "An array of strings representing the Entity Identifiers of Intermediate Entities or Trust Anchors that are Immediate Superiors of the Entity. the set of Claims specified for use in this type of JWT",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ConfigValueDto": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "defaultValue": {}
        }
      },
      "RegistrationFlowDto": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StepDto"
            }
          }
        }
      },
      "StepDto": {
        "type": "object",
        "properties": {
          "stepId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigValueDto"
            }
          }
        }
      },
      "EntityConfigurationPingDto": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string",
            "description": "Error message explaining way entityconfiguration was not accessable",
            "example": "Remote server reply 404 NotFound"
          },
          "entityConfigurationAccessible": {
            "type": "boolean"
          }
        }
      },
      "JoinRequest": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Entity identifier (URI) of the entity applying to join",
            "example": "https://example.com/entity"
          },
          "registrationFlowId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the registration flow (linked to an intermediate)",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "trustmarks": {
            "type": "array",
            "description": "Trustmarks requested as part of this join application",
            "items": {
              "$ref": "#/components/schemas/TrustmarkRequest"
            }
          }
        }
      },
      "TrustmarkRequest": {
        "type": "object",
        "properties": {
          "trustmarkType": {
            "type": "string",
            "description": "Trustmark type identifier (URI)",
            "example": "https://trust.example.com/tm/loa3"
          },
          "trustmarkIssuer": {
            "type": "string",
            "description": "Entity identifier of the trustmark issuer",
            "example": "https://issuer.example.com"
          }
        }
      },
      "Join": {
        "type": "object",
        "properties": {
          "joinId": {
            "type": "string",
            "format": "uuid",
            "description": "Join ID",
            "readOnly": true
          },
          "entityId": {
            "type": "string",
            "description": "Entity identifier (URI)",
            "example": "https://example.com/entity"
          },
          "registrationId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the registration flow this entity joined through"
          },
          "tags": {
            "type": "array",
            "description": "Tags describing the entity type, e.g. OIDC, SAML, RP, OP, IDP, SP",
            "example": [
              "OIDC",
              "RP"
            ],
            "items": {
              "type": "string"
            }
          },
          "isHosted": {
            "type": "boolean",
            "description": "True if the entity's metadata is hosted in this registry"
          },
          "hostedId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the hosted entity record, present when isHosted is true",
            "readOnly": true
          },
          "statusFedreg": {
            "type": "string",
            "description": "Current federation registration status",
            "enum": [
              "REGISTERED",
              "ONGOING",
              "DENY"
            ]
          },
          "statusTrustmarks": {
            "type": "array",
            "description": "Trustmark status per requested trustmark",
            "items": {
              "$ref": "#/components/schemas/TrustmarkStatus"
            }
          },
          "rejectionReason": {
            "type": "string",
            "description": "Reason for rejection, present when status_fedreg is DENY",
            "readOnly": true
          }
        }
      },
      "TrustmarkStatus": {
        "type": "object",
        "properties": {
          "trustmarkId": {
            "type": "string",
            "description": "Trustmark type identifier (URI)",
            "example": "https://trust.example.com/tm/loa3"
          },
          "status": {
            "type": "string",
            "description": "Current status of this trustmark",
            "enum": [
              "OK",
              "PENDING",
              "REVOKED",
              "EXPIRED"
            ]
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Registration ID",
            "readOnly": true
          },
          "taimId": {
            "type": "string",
            "format": "uuid",
            "description": "Intermediate (TaIm) this registration belongs to"
          },
          "registrationFlowId": {
            "type": "string",
            "format": "uuid",
            "description": "Registration flow used for this request"
          },
          "entityId": {
            "type": "string",
            "description": "Entity identifier of the applicant",
            "example": "https://example.com/entity"
          },
          "jwks": {
            "type": "string",
            "description": "JWKS snapshot from entity configuration at time of registration"
          },
          "metadata": {
            "type": "string",
            "description": "Entity configuration metadata snapshot"
          },
          "metadataPolicy": {
            "type": "string",
            "description": "Proposed metadata_policy generated by PolicyCreationStep"
          },
          "trustmarksRequested": {
            "type": "string",
            "description": "Trustmarks requested in the application"
          },
          "status": {
            "type": "string",
            "description": "Current status of the registration request",
            "enum": [
              "PENDING",
              "APPROVED",
              "REJECTED"
            ]
          },
          "reviewedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the request was reviewed by an operator",
            "readOnly": true
          },
          "reviewedBy": {
            "type": "string",
            "description": "Identity of the operator who reviewed the request",
            "readOnly": true
          },
          "rejectionReason": {
            "type": "string",
            "description": "Reason provided by the operator when rejecting the request"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "When this registration was created",
            "readOnly": true
          }
        }
      },
      "OrganizationInformation": {
        "type": "object",
        "properties": {
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationRecord"
            }
          }
        }
      },
      "OrganizationRecord": {
        "type": "object",
        "properties": {
          "orgNumber": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "entityPrefix": {
            "type": "string"
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "orgNumber": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "entityPrefix": {
            "type": "string"
          },
          "orgInfo": {
            "$ref": "#/components/schemas/OrganizationInformation"
          }
        }
      },
      "TrustmarkWithSubjects": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Trustmark"
          },
          {
            "type": "object",
            "properties": {
              "trustmarkId": {
                "type": "string",
                "format": "uuid",
                "description": "Trustmark ID",
                "readOnly": true
              },
              "trustmarkissuerId": {
                "type": "string",
                "format": "uuid",
                "description": "Trust mark issuer entity identifier"
              },
              "trustmarkType": {
                "type": "string",
                "description": "Trustmark type that is a entityid"
              },
              "logoUri": {
                "type": "string",
                "description": "Logo URI"
              },
              "refUri": {
                "type": "string",
                "description": "Reference URI"
              },
              "delegation": {
                "type": "string",
                "description": "Delegation JWT"
              },
              "trustmarkSubjects": {
                "type": "array",
                "description": "List of trustmark subjects associated with this trustmark",
                "items": {
                  "$ref": "#/components/schemas/TrustmarkSubject"
                }
              }
            }
          }
        ],
        "description": "Trustmark with associated trustmark subjects"
      },
      "Modules": {
        "type": "object",
        "properties": {
          "trustAnchors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustAnchor"
            }
          },
          "intermediates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Intermediate"
            }
          },
          "resolvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resolver"
            }
          },
          "trustmarkIssuers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustmarkIssuer"
            }
          }
        }
      },
      "EntityWithModules": {
        "type": "object",
        "properties": {
          "federationEntity": {
            "type": "array",
            "description": "Federation entity (if entity type is federation)",
            "items": {
              "$ref": "#/components/schemas/FederationEntityWithModules"
            }
          },
          "hostedEntity": {
            "type": "array",
            "description": "Hosted entity (if entity type is hosted)",
            "items": {
              "$ref": "#/components/schemas/HostedEntity"
            }
          }
        }
      },
      "FederationEntityWithModules": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FederationEntity"
          },
          {
            "type": "object",
            "properties": {
              "entityId": {
                "type": "string",
                "format": "uuid",
                "description": "Entity ID",
                "readOnly": true
              },
              "entityIdentifier": {
                "type": "string",
                "description": "EntityIdentifier",
                "example": "https://ta.example.se/ta"
              },
              "crit": {
                "type": "array",
                "description": "crit ",
                "example": "The crit (critical) Claim indicates that extensions to the set of Claims specified for use in this type of JWT",
                "items": {
                  "type": "string"
                }
              },
              "authorityhints": {
                "type": "array",
                "description": "authorityhints",
                "example": "An array of strings representing the Entity Identifiers of Intermediate Entities or Trust Anchors that are Immediate Superiors of the Entity. the set of Claims specified for use in this type of JWT",
                "items": {
                  "type": "string"
                }
              },
              "trustAnchor": {
                "$ref": "#/components/schemas/TrustAnchor",
                "description": "Trust anchor module (if exists on federation entity)"
              },
              "intermediate": {
                "$ref": "#/components/schemas/Intermediate",
                "description": "Intermediate module (if exists on federation entity)"
              },
              "resolver": {
                "$ref": "#/components/schemas/Resolver",
                "description": "Resolver module (if exists on entity)"
              },
              "trustmarkIssuer": {
                "$ref": "#/components/schemas/TrustmarkIssuer",
                "description": "Trustmark issuer module (if exists on entity)"
              }
            }
          }
        ],
        "description": "Extended federation entity including modules"
      },
      "Flow": {
        "type": "object",
        "properties": {
          "registrationId": {
            "type": "string",
            "format": "uuid",
            "description": "Registration flow ID (linked to an intermediate)",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "type": {
            "type": "string",
            "description": "Protocol/entity type for this flow",
            "example": "OIDC-OP"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the flow",
            "example": "Sweden Connect QA"
          },
          "description": {
            "type": "string",
            "description": "Description of the flow and its purpose",
            "example": "QA-miljÃ¶ fÃ¶r Sweden Connect"
          }
        }
      },
      "ApplicationContext": {
        "type": "object",
        "properties": {
          "applicationName": {
            "type": "string"
          },
          "startupDate": {
            "type": "integer",
            "format": "int64"
          },
          "autowireCapableBeanFactory": {
            "$ref": "#/components/schemas/AutowireCapableBeanFactory"
          },
          "parent": {
            "$ref": "#/components/schemas/ApplicationContext"
          },
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment"
          },
          "beanDefinitionCount": {
            "type": "integer",
            "format": "int32"
          },
          "beanDefinitionNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "parentBeanFactory": {
            "$ref": "#/components/schemas/BeanFactory"
          },
          "classLoader": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "registeredAsParallelCapable": {
                "type": "boolean"
              },
              "parent": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "registeredAsParallelCapable": {
                    "type": "boolean"
                  },
                  "unnamedModule": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "descriptor": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "boolean"
                          },
                          "automatic": {
                            "type": "boolean"
                          }
                        }
                      },
                      "named": {
                        "type": "boolean"
                      },
                      "annotations": {
                        "type": "array",
                        "items": {}
                      },
                      "declaredAnnotations": {
                        "type": "array",
                        "items": {}
                      },
                      "packages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "uniqueItems": true
                      },
                      "nativeAccessEnabled": {
                        "type": "boolean"
                      },
                      "layer": {}
                    }
                  },
                  "definedPackages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "sealed": {
                          "type": "boolean"
                        },
                        "annotations": {
                          "type": "array",
                          "items": {}
                        },
                        "declaredAnnotations": {
                          "type": "array",
                          "items": {}
                        },
                        "specificationTitle": {
                          "type": "string"
                        },
                        "specificationVersion": {
                          "type": "string"
                        },
                        "specificationVendor": {
                          "type": "string"
                        },
                        "implementationTitle": {
                          "type": "string"
                        },
                        "implementationVersion": {
                          "type": "string"
                        },
                        "implementationVendor": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "defaultAssertionStatus": {
                    "type": "boolean",
                    "writeOnly": true
                  }
                }
              },
              "unnamedModule": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "descriptor": {
                    "type": "object",
                    "properties": {
                      "open": {
                        "type": "boolean"
                      },
                      "automatic": {
                        "type": "boolean"
                      }
                    }
                  },
                  "named": {
                    "type": "boolean"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {}
                  },
                  "declaredAnnotations": {
                    "type": "array",
                    "items": {}
                  },
                  "packages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "uniqueItems": true
                  },
                  "nativeAccessEnabled": {
                    "type": "boolean"
                  },
                  "layer": {}
                }
              },
              "definedPackages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sealed": {
                      "type": "boolean"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {}
                    },
                    "declaredAnnotations": {
                      "type": "array",
                      "items": {}
                    },
                    "specificationTitle": {
                      "type": "string"
                    },
                    "specificationVersion": {
                      "type": "string"
                    },
                    "specificationVendor": {
                      "type": "string"
                    },
                    "implementationTitle": {
                      "type": "string"
                    },
                    "implementationVersion": {
                      "type": "string"
                    },
                    "implementationVendor": {
                      "type": "string"
                    }
                  }
                }
              },
              "defaultAssertionStatus": {
                "type": "boolean",
                "writeOnly": true
              }
            }
          }
        }
      },
      "AutowireCapableBeanFactory": {},
      "BeanFactory": {},
      "DefaultHttpStatusCode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HttpStatusCode"
          }
        ]
      },
      "Environment": {
        "type": "object",
        "properties": {
          "activeProfiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "defaultProfiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FilterRegistration": {
        "type": "object",
        "properties": {
          "servletNameMappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "urlPatternMappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "initParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "name": {
            "type": "string"
          },
          "className": {
            "type": "string"
          }
        }
      },
      "HttpStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HttpStatusCode"
          }
        ],
        "enum": [
          "100 CONTINUE",
          "101 SWITCHING_PROTOCOLS",
          "102 PROCESSING",
          "103 EARLY_HINTS",
          "200 OK",
          "201 CREATED",
          "202 ACCEPTED",
          "203 NON_AUTHORITATIVE_INFORMATION",
          "204 NO_CONTENT",
          "205 RESET_CONTENT",
          "206 PARTIAL_CONTENT",
          "207 MULTI_STATUS",
          "208 ALREADY_REPORTED",
          "226 IM_USED",
          "300 MULTIPLE_CHOICES",
          "301 MOVED_PERMANENTLY",
          "302 FOUND",
          "303 SEE_OTHER",
          "304 NOT_MODIFIED",
          "307 TEMPORARY_REDIRECT",
          "308 PERMANENT_REDIRECT",
          "400 BAD_REQUEST",
          "401 UNAUTHORIZED",
          "402 PAYMENT_REQUIRED",
          "403 FORBIDDEN",
          "404 NOT_FOUND",
          "405 METHOD_NOT_ALLOWED",
          "406 NOT_ACCEPTABLE",
          "407 PROXY_AUTHENTICATION_REQUIRED",
          "408 REQUEST_TIMEOUT",
          "409 CONFLICT",
          "410 GONE",
          "411 LENGTH_REQUIRED",
          "412 PRECONDITION_FAILED",
          "413 CONTENT_TOO_LARGE",
          "413 PAYLOAD_TOO_LARGE",
          "414 URI_TOO_LONG",
          "415 UNSUPPORTED_MEDIA_TYPE",
          "416 REQUESTED_RANGE_NOT_SATISFIABLE",
          "417 EXPECTATION_FAILED",
          "418 I_AM_A_TEAPOT",
          "421 MISDIRECTED_REQUEST",
          "422 UNPROCESSABLE_CONTENT",
          "422 UNPROCESSABLE_ENTITY",
          "423 LOCKED",
          "424 FAILED_DEPENDENCY",
          "425 TOO_EARLY",
          "426 UPGRADE_REQUIRED",
          "428 PRECONDITION_REQUIRED",
          "429 TOO_MANY_REQUESTS",
          "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
          "451 UNAVAILABLE_FOR_LEGAL_REASONS",
          "500 INTERNAL_SERVER_ERROR",
          "501 NOT_IMPLEMENTED",
          "502 BAD_GATEWAY",
          "503 SERVICE_UNAVAILABLE",
          "504 GATEWAY_TIMEOUT",
          "505 HTTP_VERSION_NOT_SUPPORTED",
          "506 VARIANT_ALSO_NEGOTIATES",
          "507 INSUFFICIENT_STORAGE",
          "508 LOOP_DETECTED",
          "509 BANDWIDTH_LIMIT_EXCEEDED",
          "510 NOT_EXTENDED",
          "511 NETWORK_AUTHENTICATION_REQUIRED"
        ]
      },
      "HttpStatusCode": {
        "type": "object",
        "properties": {
          "is1xxInformational": {
            "type": "boolean"
          },
          "is2xxSuccessful": {
            "type": "boolean"
          },
          "is3xxRedirection": {
            "type": "boolean"
          },
          "is5xxServerError": {
            "type": "boolean"
          },
          "is4xxClientError": {
            "type": "boolean"
          },
          "error": {
            "type": "boolean"
          }
        }
      },
      "JspConfigDescriptor": {
        "type": "object",
        "properties": {
          "taglibs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaglibDescriptor"
            }
          },
          "jspPropertyGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JspPropertyGroupDescriptor"
            }
          }
        }
      },
      "JspPropertyGroupDescriptor": {
        "type": "object",
        "properties": {
          "urlPatterns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "elIgnored": {
            "type": "string"
          },
          "pageEncoding": {
            "type": "string"
          },
          "isXml": {
            "type": "string"
          },
          "includePreludes": {
            "type": "array",
            "items": {
[...]
